---
import { Icon } from "astro-icon/components";
import Testimonial from "./Testimonial.astro";
import "@/styles/slider.css";
import SwipeIcon from "@/components/SwipeIcon.astro";

const { testimonials } = Astro.props;
---

<div class="relative group">
  <div class="swiper">
    <div class="swiper-wrapper">
      {
        testimonials.map((t, i) => {
          if (t.data.display === false) return null;

          return (
            <div class="swiper-slide">
              <Testimonial testimonial={t} index={i} />
            </div>
          );
        })
      }
    </div>
  </div>
  <SwipeIcon />
</div>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  const swiper = new Swiper(".swiper", {
    direction: "horizontal",
    slidesPerView: 1,
    spaceBetween: 10,
    centeredSlides: false,
    loop: true,
    // Responsive breakpoints
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      // when window width is >= 480px
      1000: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      // when window width is >= 640px
      1900: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
    },
    autoplay: {
      delay: 5000,
    },
  });
</script>
