@import "./typography.css";
@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "@tailwindcss/typography";

@theme {
  --background: #101010;
  --sec: #a476ff;
  --white: #dfdfdf;
  --white-icon: #f3f3f398;
  --white-icon-tr: #f3f3f310;
}

@layer base {

    /* body div {
         @apply outline-1 outline-red-400;
    } */
    .glitch-wrapper {
      mask-size: contain;
      mask-repeat: repeat space;
    }

    abbr:hover {
      @apply cursor-help
    }
}

/* div {
  @apply outline-1 outline-red-600;
} */
