---
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import { Image } from "astro:assets";

const { title, image } = Astro.props;
---

<section
  class="project-hero group relative flex flex-col items-center justify-center w-screen -translate-x-9 lg:-translate-x-20 h-[50vh] lg:h-[75vh] bg-cover bg-center shadow-2xl shadow-black"
>
  <div
    class="absolute inset-0 z-10 bg-gradient-to-t from-[var(--background)] to-[var(--background)]/20 from-0% to-15%"
  >
  </div>
  {
    image ? (
      <Picture
        src={image}
        formats={["avif", "webp"]}
        alt={title}
        loading="lazy"
      />
    ) : null
  }

  <div
    class="absolute inset-0 flex items-center justify-center z-10 text-center text-white"
  >
    <div
      class="group-hover:opacity-0 motion-safe:group-hover:scale-75 transition-all duration-300 bg-black/5 bg-opacity-70 p-4 px-6 rounded-full shadow-[0_0_80px_-6px] shadow-purple-500/25 sr-only"
    >
      <span class="text-3xl font-bold text-[var(--sec)]">{title}</span>
    </div>
  </div>
  <!-- <div
    class="scroll-cta absolute inset-0 h-16 top-auto flex items-start justify-center"
  >
    <Icon
      name="lineicons:scroll-down-2"
      class="w-12 h-auto mx-auto bounce-smooth lg:hidden"
    />
  </div> -->
</section>
