---
import { getCollection, render } from "astro:content";
import TestimonialSlider from "./content/testimonials/TestimonialSlider.astro";

const testimonials = await getCollection("testimonials");
---

<section
  id="testimonials"
  class="relative overflow-x-hidden w-full mt-[8vh] py-20 scroll-mt-20 border-t border-[#ffffff10]"
>
  <div
    class="pointer-events-none absolute inset-y-0 left-0 w-32 bg-gradient-to-r from-[var(--background)] to-transparent z-20"
  >
  </div>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 w-32 bg-gradient-to-l from-[var(--background)] to-transparent z-20"
  >
  </div>
  <div class="max-w-5xl mx-auto">
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      Testimonials
    </h3>
    <p class="text-[var(--white-icon)] mb-8 text-md md:text-2xl">
      Here's what some of my clients have to say about working with me.
    </p>
  </div>
  <TestimonialSlider testimonials={testimonials} />
</section>
