---
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import { AnimateTitles } from "@/React/AnimateElements";

import "@/styles/global.css";

interface Props {
  title: string;
  ogTitle?: string;
  ogDescription?: string;
  keywords?: string;
  ogImage?: string;
  ogUrl?: string;
}

const { title, ogTitle, ogDescription, ogImage, keywords, ogUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content={ogDescription || "Web Developer & Designer"}
    />
    <meta name="keywords" content={keywords || "web, developer, designer"} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta
      property="og:title"
      content={ogTitle || "Dave Sayer, Web Developer & Designer"}
    />
    <meta
      property="og:description"
      content={ogDescription || "Web Developer & Designer"}
    />
    <meta
      property="og:image"
      content={ogImage || "https://web.frst.uk/og.img.png"}
    />
    <meta property="og:url" content={ogUrl || "https://web.frst.uk"} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Dave Sayer Portfolio" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <script>
      const body = document.querySelector("body");
      body.classList.remove("no-js");
    </script>
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      />
    </noscript>

    <title>{title}</title>
  </head>
  <body class="bg-[var(--background)] no-js text-slate-300 lg:px-20 px-9">
    <Nav />
    <slot />
    <Footer />
    <AnimateTitles client:load />
  </body>
</html>

<noscript>
  <style is:global>
    .fouc {
      visibility: visible !important;
    }
  </style>
</noscript>
<style is:global>
  * {
    font-family:
      "montserrat",
      -apple-system,
      system-ui,
      sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .fouc {
    visibility: hidden;
  }
  .shiny-sec,
  .group:hover .shiny-sec-hover {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  .group .badge.shiny-sec-hover {
    transition: all 0.3s ease-in-out;
  }
  .group:hover .badge.shiny-sec-hover {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    animation: shine 3s linear infinite;
    color: #fff;
  }
  .shiny-sec-icon {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    fill: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }

  @keyframes bounce-smooth {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-8px);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-4px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  .bounce-smooth {
    animation: bounce-smooth 2s ease-out infinite;
  }
  *::selection {
    background-color: var(--sec);
    color: var(--background);
  }

  /* Scrollbar styles */

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: var(--container);
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
  }

  /* Scrollbar styles for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--line) var(--container);
  }
</style>
